.not-found{
  background: #fffdfc;
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding: 5rem 0;
  flex-direction: column;
}
h1{
  font-size: 100px;
  font-weight: bolder;
  margin-bottom: 40px; 
  font-size: 13rem;
}
h3{
  text-transform: none;
  margin-bottom: 5rem;
  font-size: 50px;
}
.back{ 
   font-size: 35px;
}
.back:hover{
  color: #DDD;
}